
body{
    font-family: 'Poppins', sans-serif;
}
nav{
    margin:0; 
    padding: 0;
    display: flex;
    justify-content: center;
}

h2{
    color: #333;
    font-weight: bold;
    padding: 9px;
}

.fraseinicial{
    padding: 50px;
}

.menu{
    list-style: none;
    border: 0;
    float:left;
    text-align: center;
}

.menu li{
    float:left;
   
}

.menu li a{
    color:#333; 
    text-decoration: none;
    padding: 10px 35px;
    display: inline-block;

}

.menu li a:hover{
    background: #333;
    color:#fff;

}

.container{
    text-align: center;
    background-color: #3a3a3a;
    border-radius: 10px;
    margin-left: 0;
    margin-right: 0;

}

.container img {

    max-height:300px;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 10px;
   
}

.inicialtop{
    margin-top: 45px;
}

.inicialbot{
    margin-bottom: 45px;
}

.txtinicial {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.capa {
    padding: 0;
    width: 100%;
    
}

.container-capa .container-capa-day .container-capa-av .container-capa-bia .container-capa-el .container-capa-al{
    display: inline-block;
    position: relative;
}

.container-capa figcaption{
    position: absolute;
    text-align: center;
    top: 100px;

    font-size: 300px;
    color: white;
    text-shadow: 0px 8px 7px black;
}

.container-capa-day figcaption{
    position: absolute;
    text-align: center;
    top: 80px;
    font-size: 295px;
    color: white;
    text-shadow: 0px 8px 7px black;
}

.container-capa-av figcaption{
    position: absolute;
    text-align: center;
    top: 20px;
    font-size: 290px;
    color: white;
    text-shadow: 0px 8px 7px black;
}

.container-capa-bia figcaption{
    position: absolute;
    text-align: center;
    top: 65px;
    font-size: 270px;
    color: white;
    text-shadow: 0px 8px 7px black;
}

.container-capa-el figcaption{
    position: absolute;
    text-align: center;
    top: 40px;
    font-size: 295px;
    color: white;
    text-shadow: 0px 8px 7px black;
}

.container-capa-al figcaption{
    position: absolute;
    text-align: center;
    top: 300px;
    font-size: 300px;
    color: white;
    text-shadow: 0px 8px 7px black;
}

.texto{
    padding-left: 8%;
    padding-right: 8%;
}

table, th, td{
    border: 1px solid;
    
    height: 30px;
}

.tabela{
    border: #333;
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(230, 230, 230);
    text-align: center;
    padding: 3px;
    margin-left: 5%;
}

td, th{
    padding: 4px;
    
}



.tabela-texto{
    display: inline-block;
    
}

.texto-discografia{
    float: right;
    width: 50%;

}